# Get Box office data from moviemojo

In [1]:
# Imports
import pandas as pd
import requests
from bs4 import BeautifulSoup as bs

## _Get the box office number for the desired week_

In [2]:
def get_site(week, year):
    """
    Get the page source for BOM top daily gross corresponding to month and year 
    """
    html = 'http://www.boxofficemojo.com/weekend/chart/?yr={}&wknd={}&p=.htm'.format(year, week)
    r = requests.get(html)  # Most sites can be accessed via the get function
    return r.content

## _Parse the source code and clean data_

In [3]:
def parse_source(page_source):
    
    page_soup = bs(page_source, "lxml")
    table = page_soup.find_all('table', attrs={'cellspacing': '1'})[0]  
    
    output_columns = ['TW', 'LW', 'Title', 'Studio', 'Weekend_Gross/$', '%_Change',
                  'Theater_Count','Theater_Change', 'Average/$', 'Total_Gross/$', 'Budget', 'num_week']
    output = dict((x, []) for x in output_columns)

    all_rows = table.find_all('tr')[1:106]

    for row in all_rows[:100]:
        row_cols = row.find_all('td')
        for dict_key, col in zip(output_columns, row_cols):
            output[dict_key].append(col.text)

    output_pd = pd.DataFrame(output)
    output_pd = output_pd[output_columns]
    
    return output_pd

def df_format(main_df):
    change_columns1 = ['Weekend_Gross/$', 'Average/$', 'Total_Gross/$', '%_Change']
    change_columns2 = ['Theater_Change', 'Theater_Count']
    change_columns3 = ['num_week', 'TW']
    main_df.drop('Budget', axis=1, inplace=True)
    for i in change_columns1:
        if i != '%_Change':
            main_df.loc[:, str(i)] = main_df.loc[:, str(i)].str.replace(',', '')
            main_df.loc[:, str(i)] = main_df.loc[:, str(i)].str.replace('$', '') 
            main_df.loc[:, str(i)] = main_df.loc[:, str(i)].astype(int) 
        else:
            main_df.loc[:, str(i)] = main_df.loc[:, str(i)].str.replace('%', '')
            main_df.loc[:, str(i)] = main_df.loc[:, str(i)].str.replace(',', '')
            main_df.loc[:, str(i)] = main_df.loc[:, str(i)].replace('-', 0)
            main_df.loc[:, str(i)] = main_df.loc[:, str(i)].astype(float) 

    for b in change_columns2:
        if b == 'Theater_Count':
            main_df.loc[:, str(b)] = main_df.loc[:, str(b)].str.replace(',', '')
            main_df.loc[:, str(b)] = main_df.loc[:, str(b)].astype(int)
        elif b == 'Theater_Change':
            main_df.loc[:, str(b)] = main_df.loc[:, str(b)].str.replace(',', '')
            main_df.loc[:, str(b)] = main_df.loc[:, str(b)].replace('-', 0)
            main_df.loc[:, str(b)] = main_df.loc[:, str(b)].astype(int) 

    for c in change_columns3:
        main_df.loc[:, str(c)] = main_df.loc[:, str(c)].astype(int) 
    main_df.set_index('TW', inplace=True)
    return main_df


def get_sum(df):
    print('total gross box office: ',df['Weekend_Gross/$'].sum(),'$')
    count = df['Theater_Count'].sort_values(ascending=False).head(10)
    print(count)

In [4]:
import datetime
datetime.date(2018, 9, 12).isocalendar()[1]

37

### _Get the table_

In [6]:
new = get_site(36, 2018)
main_df = parse_source(new)
main_df =df_format(main_df)
main_df

,LW,Title,Studio,Weekend_Gross/$,%_Change,Theater_Count,Theater_Change,Average/$,Total_Gross/$,num_week
TW,,,,,,,,,,
1,N,The Nun,WB (NL),53807379,0.0,3876,0,13882,53807379,1
2,N,Peppermint,STX,13423255,0.0,2980,0,4504,13423255,1
3,1,Crazy Rich Asians,WB,13148404,-40.1,3865,0,3402,135770569,4
4,2,The Meg,WB,6094327,-42.2,3511,-250,1736,131637101,5
5,4,Searching,SGem,4570235,-24.7,2009,802,2275,14366365,3
6,3,Mission: Impossible - Fallout,Par.,3885798,-44.7,2334,-305,1665,212202565,7
7,6,Disney's Christopher Robin,BV,3404931,-35.5,2518,-407,1352,91934021,6
8,5,Operation Finale,MGM,2871184,-52.3,1818,0,1579,13935630,2
9,9,BlacKkKlansman,Focus,2609915,-37.9,1547,-219,1687,43498445,5
10,7,Alpha,Studio 8,2517768,-44.6,2521,-360,999,32460286,4
11,N,God Bless the Broken Road,Free,1386254,0.0,1272,0,1090,1386254,1
12,11,Incredibles 2,BV,1352194,-59.9,1446,-1444,935,604465699,13
13,10,Mile 22,STX,1206503,-68.0,1802,-1148,670,35111649,4
14,13,Hotel Transylvania 3: Summer Vacation,Sony,1121921,-47.1,1012,-409,1109,164233534,9
15,8,The Happytime Murders,STX,1082377,-75.3,1839,-1417,589,20027804,3
16,14,Slender Man,SGem,838526,-53.8,983,-551,853,29692608,5
17,12,Kin,LGF,804401,-73.5,2141,0,376,5318012,2
18,15,Ya Veremos,PNT,767346,-57.5,369,0,2080,3312383,2
19,21,"Juliet, Naked",RAtt.,641640,-21.8,467,149,1374,2429103,4
20,22,The Wife,SPC,639857,22.6,153,75,4182,1964144,4
21,18,Ant-Man and the Wasp,BV,619010,-55.8,548,-282,1130,214822211,10
22,20,Mamma Mia! Here We Go Again,Uni.,594885,-52.5,614,-396,969,119064225,8
23,17,The Equalizer 2,Sony,500678,-65.7,646,-830,775,101587436,8
24,16,Jurassic World: Fallen Kingdom,Uni.,433180,-71.7,579,-977,748,415873035,12
25,19,A.X.L.,Global Road,296926,-78.1,555,-1155,535,6235694,3
26,26,Teen Titans Go! To The Movies,WB,222802,-33.9,298,-24,748,29111852,7
27,29,Eighth Grade,A24,165705,-38.1,176,-51,942,13265353,9
28,30,Three Identical Strangers,Neon,147957,-40.7,132,-38,1121,11905903,11
29,33,Skyscraper,Uni.,118570,-29.3,153,-35,775,67571940,9
30,25,The Spy Who Dumped Me,LGF,105550,-71.5,207,-253,510,33325340,6
...,...,...,...,...,...,...,...,...,...,...
71,64,Skate Kitchen,Magn.,6423,-54.6,16,-17,401,219457,5
72,59,Support the Girls,Magn.,6346,-65.5,15,-11,423,116987,3
73,72,Far from the Tree,IFC,6106,-0.8,7,-3,872,153609,8
74,70,"Night Is Short, Walk On Girl",GK,5844,-29.8,4,-2,1461,391267,3
75,66,Memoir of War,MBox,5253,-55.0,5,-5,1051,73247,4
76,N,Hal,Osci.,5150,0.0,1,0,5150,5150,1
77,-,Yellow Submarine (2018 re-release),Abr.,4216,0.0,4,0,1054,963964,10
78,69,The Island (2018),WGUSA,4025,-56.9,2,-2,2013,668854,5
79,73,The Captain,MBox,3803,-29.5,5,-3,761,100358,7
80,75,Don't Worry He Won't Get Far on Foot,Amazon,3460,6.0,9,-1,384,1439174,9
81,98,The Rider,SPC,3330,1156.6,5,3,666,2385711,22
82,71,"Nico, 1988",Magn.,3011,-53.5,6,-6,502,68107,6
83,83,Five Seasons: The Gardens of Piet Oudolf,Argo.,2816,88.0,4,-1,704,114011,13
84,74,A Paris Education,KL,2267,-34.6,1,0,2267,10635,2
85,68,Active Measures,Super,2253,-76.3,1,-1,2253,19862,2
86,95,The Atomic Cafe (2018 re-release),KL,2003,496.1,2,1,1002,18929,6
87,84,Whitney,RAtt.,1777,19.6,5,-4,355,3022875,10
88,N,Nelly,CLS,1304,0.0,1,0,1304,1304,1
89,86,Le Corbeau (2018 re-issue),Rialto,1180,50.3,1,0,1180,36089,21
90,-,"Love, Cecil",Zeit.,759,0.0,2,0,380,103259,7
91,-,Araby,Ghop,660,0.0,2,0,330,37562,12
92,101,Custody,KL,566,1351.3,1,0,566,81365,11
93,76,"Distant Voices, Still Lives (2018 reissue)",Arrow,458,-80.9,1,0,458,5234,2
94,-,93Queen,Abr.,432,0.0,1,0,432,66163,7
95,88,Running for Grace,Blue Fox,412,-38.0,1,-2,412,89118,8
96,-,The Doctor from India,Zeit.,360,0.0,1,0,360,64392,20
97,79,Wanda (2018 re-release),Jan.,323,-83.1,1,-1,323,51560,8
98,100,Generation Wealth,Magn.,246,223.7,3,1,82,235179,8
99,-,Ryuichi Sakamoto: Coda,MUBI,213,0.0,1,0,213,114378,10
100,-,Ava,Ghop,162,0.0,1,0,162,19480,19

### _Further investigation_

In [17]:
# a closer investigation to see which studio is doing well
# week 36
week36 = pd.DataFrame(main_df.groupby('Studio')['Weekend_Gross/$'].sum()).sort_values('Weekend_Gross/$', ascending=False)
week36.head()

         Weekend_Gross/$
Studio
WB (NL)         53821189
WB              19528313
STX             15712135
BV               5420586
SGem             5408761

- It seems like Warner Bros is doing prettey well in week 36

In [18]:
# Let's have a look week 35 and 34 
# To make this easier, let's create a function
def get_top_box_office(week, year):
    new = get_site(week, year)
    main_df = df_format(parse_source(new))
    return pd.DataFrame(main_df.groupby('Studio')['Weekend_Gross/$'].sum())\
                                .sort_values('Weekend_Gross/$', ascending=False)

In [19]:
week35 = get_top_box_office(35, 2018)
week34 = get_top_box_office(34, 2018)

In [21]:
week35.head()

        Weekend_Gross/$
Studio
WB             32946009
BV             10171125
STX             8148650
SGem            7882877
Par.            7032499

In [22]:
week34.head()

          Weekend_Gross/$
Studio
WB               38190887
STX              15898467
BV                9823287
Par.              8087385
Studio 8          6002359

- It seems like Warner Bros is doing pretty well in week34 and week35